# files
.htaccess
.htaccess.sample
/.user.ini
/composer.json
/composer.lock
/php.ini
php.ini.sample
/shell-commands.txt

/app/etc/env.php

# folder
node_modules/
media/
tools/
var/

*de_DE/fonts/
*de_DE/images/
*de_DE/jquery/
*de_DE/js/
*de_DE/knockoutjs/
*de_DE/mage/
*de_DE/Magenerds_PageDesigner/
*de_DE/Magento_Captcha/
*de_DE/Magento_Catalog/
*de_DE/Magento_Checkout/
*de_DE/Magento_Cookie/
*de_DE/Magento_Customer/
*de_DE/Magento_Msrp/
*de_DE/Magento_PageCache/
*de_DE/Magento_Search/
*de_DE/Magento_Swatches/
*de_DE/Magento_Tax/
*de_DE/Magento_Theme/
*de_DE/Magento_Ui/
*de_DE/Magento_Wishlist/
*de_DE/requirejs/
*de_DE/es6-collections.js
*de_DE/FormData.js
*de_DE/jquery.js
*de_DE/matchMedia.js
*de_DE/MutationObserver.js
*de_DE/underscore.js


*en_US/fonts/
*en_US/images/
*en_US/jquery/
*en_US/js/
*en_US/knockoutjs/
*en_US/mage/
*en_US/Magenerds_PageDesigner/
*en_US/Magento_Captcha/
*en_US/Magento_Catalog/
*en_US/Magento_Checkout/
*en_US/Magento_Cookie/
*en_US/Magento_Customer/
*en_US/Magento_Msrp/
*en_US/Magento_PageCache/
*en_US/Magento_Search/
*en_US/Magento_Swatches/
*en_US/Magento_Tax/
*en_US/Magento_Theme/
*en_US/Magento_Ui/
*en_US/Magento_Wishlist/
*en_US/requirejs/
*en_US/es6-collections.js
*en_US/FormData.js
*en_US/jquery.js
*en_US/matchMedia.js
*en_US/MutationObserver.js
*en_US/underscore.js
