# files
/.htaccess
/.user.ini
/composer.json
/composer.lock
/php.ini
/shell-commands.txt
/app/etc/env.php
/pub/static/deployed_version.txt


# folder
cache/
node_modules/*
/pub/static/*
tools/*
var/*
#media/*
